/* styles/animations.css */
@keyframes slideIn {
    from {
      transform: translateY(50%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .container, header {
    animation: slideIn 1s ease-out;
  }
  