/* styles/animations.css */
@keyframes slideInWebLoad {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.container,
header {
  animation: slideInWebLoad 1s ease-out;
}

@keyframes slideIn {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-50%);
    opacity: 0;
  }
}

#popup-container.slideIn {
  animation: slideIn 0.5s ease-out;
}

#popup-container.slideOut {
  animation: slideOut 0.5s ease-out;
  animation-fill-mode: forwards; /* Behält den Endzustand der Animation */
}
