@import url("https://fonts.googleapis.com/css?family=Montserrat");

html {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: arial;
  width: 100vw;
  height: 95vh;
  background-color: #2e2e2e;
}
body,
.backgroundcanvas {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 10000000;
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#bg canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.column {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

@media (max-width: 600px) {
  .column {
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
  }

  .column > div {
    width: 100%; /* Make each div take full width */
    max-width: 400px; /* Optional: Set a max-width for better appearance */
  }
}

.eingabe {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.center {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.mustersprache {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

header {
  width: 100%;
  background: linear-gradient(90deg, #3d008d, #5f3a8f, #3d008d);
  color: white;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.466);
  border-radius: 0 0 30px 30px;
  position: fixed;
  padding: 15px 0;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 7vh;
}

.seitentitel {
  display: flex;
  justify-content: space-around;
}

.einführung {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.titel {
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.einfuehrungstext {
  padding-left: 5px;
  padding-right: 5px;
  width: 300px;
  height: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  font-size: 15px;
  font-weight: 100;
  border: 1px white dashed;
  border-radius: 10px;
  transition:
    height 0.7s,
    background-color 0.7s;
  background-color: #7b559f;
}

.einfuehrungstext.expanded {
  height: auto;
}

#audioplayer {
  background-color: #000;
  color: white;
}

.container {
  background: rgba(0, 0, 0, 0.192);
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  width: 80%;
  max-width: 900px;
  padding: 20px;
  margin-top: 100px;
  text-align: left;
  max-height: 80%;
  overflow-y: scroll;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  color: white;
}
.status {
  font-size: 18px;
  margin: 10px 0;
  color: #ffffff;
}

.result-grid {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}
.result-bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: row;
}
.result-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.2px;
  width: 100%;
  
}
.result {
  background-color: rgba(255, 255, 255, 0.685);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  border: 1px solid rgb(240, 240, 240);
  border-radius: 5px;
  padding: 10px;
  font-size: 22px;
  text-align: left;
  color: rgb(0, 0, 0);
  max-height: 200px;
  overflow-y: auto;
  margin-top: 0px;
  width: 90%;
}
.send-wraper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.result-grid h2 {
  width: fit-content;
  color: white;
  font-size: 17px;
  text-align: center;
}
.betweenresult {
  margin-top: 30px;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
}

h2 {
  color: white;
}
.input-mic-wraper {
  display: flex;
  justify-content: left;
  width: 100%;
}
.micbutton {
  max-height: 75px;
  min-height: 75px;
  max-width: 80px;
  min-width: 80px;
  margin-left: 5px;
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid rgb(61, 106, 255);
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.micbutton:hover {
  background: rgb(61, 106, 255);
  box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.micbutton:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

.micbutton::before {
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}
.micdrag {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 160px;
  width: 75px;
  margin-right: 5px;
}
@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

.micbutton:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}

#uploaded-audio {
  margin: 20px 0;
  text-align: center;
}

.upload-arrow {
  position: absolute;
  width: 40px;
  height: 40px;
}

.upload-base {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 4px;
  background-color: #fff;
}

.upload-arrow::before {
  content: "";
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  width: 14px;
  height: 14px;
  background-color: #fff;
}

.upload-arrow::after {
  content: "";
  position: absolute;
  bottom: 8px;
  left: 13px;
  width: 14px;
  height: 34px;
  background-color: #fff;
}
#mustersprachanalyse {
  width: 100%;
  text-align: center;
  height: fit-content;
  display: flex;
  justify-content: space-around;
}

#sprachanalyse {
  width: 100%;
  text-align: center;
  height: fit-content;
  display: flex;
  justify-content: space-around;
}

@property --p {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}
.pro {
  font-size: 0.5;
}
.pie {
  color: white;
  --p: 10;
  --b: 8px;
  --c: darkred;
  --w: 75px; /* Breite */
  --h: 75px; /* Höhe */
  --secondary-color: lightgray;

  width: var(--w);
  height: var(--h);
  position: relative;
  display: inline-grid;
  margin: 5px;
  place-content: center;
  font-size: 25px;
  font-weight: bold;
  font-family: sans-serif;
}
.pie:before,
.pie:after {
  content: "";
  position: absolute;
  border-radius: 50%;
}
.pie:before {
  inset: 0;
  background:
    radial-gradient(farthest-side, var(--c) 98%, #0000) top/var(--b) var(--b)
      no-repeat,
    conic-gradient(var(--c) calc(var(--p) * 1%), var(--secondary-color) 0);
  -webkit-mask: radial-gradient(
    farthest-side,
    #0000 calc(99% - var(--b)),
    #000 calc(100% - var(--b))
  );
  mask: radial-gradient(
    farthest-side,
    #0000 calc(99% - var(--b)),
    #000 calc(100% - var(--b))
  );
}
.pie:after {
  inset: calc(50% - var(--b) / 2);
  background: var(--c);
  transform: rotate(calc(var(--p) * 3.6deg))
    translateY(calc(50% - var(--h) / 2));
}

.animate {
  animation: p 1s 0.5s both;
}
.no-round:before {
  background-size: 0 0, auto;
  width: 70px;
}
.no-round:after {
  content: none;
}
.glow-on-hover {
  margin-left: 10px;
  width: 70px;
  height: 160px;
  border: none;
  outline: none;
  color: #fff;
  background: #5900be;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  transition: 0.7s;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #7a00ff,
    #183aff,
    #2183fc,
    #7a00ff,
    #183aff,
    #2183fc,
    #7a00ff,
    #183aff,
    #2183fc
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 1; /* Set opacity to 1 for the default state */
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
  transition: 0.7s;
}

.glow-on-hover:hover:before {
  opacity: 1; /* Keep opacity to 1 on hover */
  transition: 0.7s;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #52009e;
  left: 0;
  top: 0;
  border-radius: 10px;
  transition: 0.7s;
}

.glow-on-hover:hover:after {
  background: #52009e;
  opacity: 0; /* Make background transparent on hover */
  transition: 0.7s;
}

.glow-on-hover:active {
  background: #5900be;
  transition: 0.7s;
}

.glow-on-hover:active:after {
  background: transparent;
  transition: 0.7s;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes p {
  from {
    --p: 0;
  }
}

.tooltip-text {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  width: 100px;
  color: #ffffff;
  font-size: 12px;
  background-color: #192733;
  border-radius: 10px;
  padding: 10px 15px 10px 15px;
}

.hover-text:hover .tooltip-text {
  visibility: visible;
}

#bottom {
  top: 70px;
  left: -30%;
}

.hover-text {
  position: relative;
  display: inline-block;
  margin: 10px;
  font-family: Arial;
  text-align: center;
}

@keyframes borderLoader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@media (max-height: 1280px) {
  header {
    height: 100px;
  }
}
@media (max-width: 1000px) {
  .einfuehrungstext {
    width: 40%;
  }
}
@media (max-width: 768px) {
  .container {
    width: 80vw;
    margin-top: 100px;
  }

  .result-grid {
    grid-template-columns: 1fr;
  }

  header {
    font-size: 30px;
    padding: 15px 0;
  }

  .btn {
    font-size: 14px;
    padding: 8px 16px;
  }

  .status {
    font-size: 16px;
  }

  .result {
    font-size: 14px;
    padding: 8px;
  }


}

@media (max-width: 480px) {
  .btn {
    font-size: 12px;
    padding: 6px 12px;
  }

  .status {
    font-size: 14px;
  }

  .result {
    font-size: 12px;
    padding: 6px;
  }
}

/* styles/animations.css */
@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.container {
  animation: slideIn 1s ease-out;
}
